// --primary--
$app-color-primary-dark: #3f51b5;
$app-color-primary-light: #4080ec;
// --accent--
$app-color-accent-dark: #5ab864;
$app-color-accent-light: #5ab864;

//secondary
$app-color-warn-dark: #ef5350;
$app-color-warn-light: #ef9a9a;

// --other colors--
$app-color-yellow-light: #f8951d;
$app-color-red-dark: #E51736;
$app-color-light-gray: #EFEFEF;
$app-progress-bar-color: #ebebec;

// -- table layout colors--
$app-table-header-color: #f7f7f7;
$app-table-cell-color: #f8f8f8;
$app-table-header-text-color: #9faecb;

// --border colors--//
$app-border-color-dark: #f0f0f0;
$app-border-color-light: #f1f1f1;

// --application colors--
$app-color-text-bold-dark: #1e2831;
$app-color-text-bold-light: #787878;
$app-color-text-normal-dark: #b4b4b4;
$app-color-text-normal-light: #b4b4b4;
$app-grey-background-color: #f1f1f1;
